/* styles/tailwind.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/*font*/

.custom-heading {
  font-family: "HelveticaNowDisplay-Bold", sans-serif; /* Use 'sans-serif' as a fallback font */
  /* Other styles for your heading */
}

.custom-heading2 {
  font-family: "HelveticaNowDisplay-Medium", sans-serif; /* Use 'sans-serif' as a fallback font */
  /* Other styles for your heading */
}

.bg-image-section {
  background-image: url("../images/Ellipse.png");
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-image-section1 {
  background-image: url("../images/abstract.png");
  background-size: 30%;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-image-section2 {
  background-image: url("../images/abstract.png");
  background-size: 13%;
  background-position: left;
  background-repeat: no-repeat;
}

.card-container {
  perspective: 1000px;
  display: flex;
  gap: 20px;
}

.flip-card {
  width: 550px;
  height: 550px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  cursor: pointer;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flip-card-front {
  background-color: #bbb;
}

.flip-card-back {
  background-color: #333;
  color: white;
  transform: rotateY(180deg);
}

.flip-card img {
  width: 100%;
  height: auto;
}

/* navbar.css */

/* Overlay for glass morphism */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7); /* Adjust opacity as needed */
  backdrop-filter: blur(5px); /* Adjust the blur amount as needed */
  display: none;
  z-index: 999;
}

/* Menu container */
.menu-container {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 300px; /* Adjust the menu width as needed */
  background-color: rgba(255, 255, 255, 0.95); /* Adjust opacity as needed */
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.menu-open {
  transform: translateX(0);
}

.label-chip {
  color: white;
  padding: 4px 10px;
  margin-left: 5px; /* Add some spacing between chips */
  border-radius: 5px;
}

/* styles.css or wherever your styles are */
.hidden-navbar {
  opacity: 0;
  transform: translateY(-100px);
  pointer-events: none; /* This ensures that the navbar doesn't interfere with clicks even if it's invisible */
}

.left {
  background-color: #000;
  padding: 20px;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  width: 80%;
  height: 200px;
  margin: 20px 0;
  transition: all 0.3s ease-in-out;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}
.desktopContentSection {
  height: 33.33vh; /* Divide the viewport height by 3 */
}

.spacer {
  width: 100%;
  height: 50vh;
  background: #ddd;
}

.gallery {
  display: flex;
  /* outline:1px solid red; */
}

.left {
  width: 50%;
}

.right {
  height: 100vh;
  /* outline:1px solid purple; */
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.desktopContent {
  margin: auto;
  width: 80%;
}

.desktopContentSection {
  min-height: 100vh;
  /* outline:1px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.desktopPhotos {
  width: 40vw;
  height: 40vw;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}

.desktopPhoto {
  position: absolute;
  width: 100%;
  height: 100%;
}

.red {
  background: crimson;
}

.green {
  background: MediumSeaGreen;
}

.blue {
  background: dodgerblue;
}

.pink {
  background: deepPink;
}

/* small screen / mobile layout */
.mobileContent {
  display: none;
  width: 80vw;
}

.mobilePhoto {
  width: 80vw;
  height: 80vw;
  margin-top: 5em;
  border-radius: 6vw;
}

/* defines styles for screens up to 599px wide */
@media screen and (max-width: 599px) {
  .left {
    display: none;
  }

  .right {
    height: auto;
    width: 100%;
    align-items: center;
  }

  .desktopPhotos {
    display: none;
  }

  .mobileContent {
    display: block;
  }
}
